@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {box-sizing: border-box;}

body{
    background-image: url('./glasses.jpg');
    background-size: cover;
    background-position: center center;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

h1{
    font-size: 4rem;
    font-weight: normal;
}
.countdown-container{
    display: flex ;

}

.big-text{
    font-size: 6rem;
    font-weight: bold;
    line-height: 1;
    margin: 0 2rem;

}

.measure {
text-align: center;
}

.measure span{
    font-size: 1rem;
}